.admin-signup-main {
    display: flex;
    min-height: 100vh;
    justify-content: center;
}

.admin-signup-form {
    display: flex;
    flex-direction: column;
    width: 62%;
    margin: 20px auto;
    background-color: white;
    padding: 20px 4%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.admin-signup-form .css-1xp5r68-MuiFormControl-root-MuiTextField-root {
    width: 32%;
    margin: 5px 0px;
}

.admin-signup-form>div {
    width: 96%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.admin-signup-account-information>div:nth-of-type(2) {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.admin-signup-account-information .css-1xp5r68-MuiFormControl-root-MuiTextField-root:nth-of-type(1) {
    width: 49%;
}

.admin-signup-account-information>div:nth-of-type(2) .css-1xp5r68-MuiFormControl-root-MuiTextField-root {
    width: 49%;
}

.admin-signup-credentials .css-1xp5r68-MuiFormControl-root-MuiTextField-root,
.admin-signup-credentials .css-4vvya4-MuiFormControl-root {
    width: 32%;
}

/* personal information  */
.admin-signup-personal-infor-div2 .css-1xp5r68-MuiFormControl-root-MuiTextField-root,
.admin-signup-personal-infor-div3>div {
    width: 49%;
}

.admin-signup-personal-infor-div3 .css-1b1fjlj-MuiFormControl-root-MuiTextField-root {
    width: 100%;
}




.admin-signup-img-picker {
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-signup-img-picker button {
    width: 70%;
    padding: 7px 10px;
    font-weight: 700;
}

.admin-signup-img-picker img {
    width: 50px;
    height: 40px;
    margin-right: 10px;
}

/* description  */
.admin-signup-description .css-1xp5r68-MuiFormControl-root-MuiTextField-root {
    width: 100%;
}


/* btn  */
.admmin-signup-btn {
    justify-content: center !important;
    width: 100% !important;
}


.admin-signup-main h2 {
    padding-left: 10px;
    border-left: 5px solid #0A5EB0;
    margin-bottom: 15px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.4rem;
}


@media only screen and (max-width: 1000px),
(max-device-width:1000px) {
    .admin-signup-main h2 {
        font-size: 1.2rem;
    }

    .admin-signup-form {
        width: 82%;
    }
}

@media only screen and (max-width: 600px),
(max-device-width:600px) {
    .admin-signup-main h2 {
        font-size: 1.2rem;
    }
    .admin-signup-main button{
        font-size: 0.8rem;
    }

    .admin-signup-form {
        width: 88%;
    }
    .admin-signup-account-information,
    .admin-signup-credentials,
    .admin-signup-personal-information-div-1,
    .admin-signup-personal-infor-div2,
    .admin-signup-personal-infor-div3{
        flex-wrap: wrap;
    }
    .admin-signup-account-information>div,
    .admin-signup-credentials>div,
    .admin-signup-personal-information-div-1>div,
    .admin-signup-personal-infor-div2>div,
    .admin-signup-personal-infor-div3>div{
        width: 100% !important;
    }
    .admin-signup-img-picker{
        overflow: hidden;
        justify-content: flex-start;
    }
    #signup-submit-btn{
        margin: 10px auto;
        padding: 7px 14px;
    }
}