.announcements {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 98%;
    padding: 10px 1% !important;
    background-color: #3FA2F6;
    color: white;
    padding: 10px 0px;
}

.announcements svg {
    transform: translateY(4px);
}

.announcements-heading {
    font-size: large;
    font-weight: 700;
    margin: 0px 5px;
    color: #D4EBF8;
}

.login-btn {
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.announcements-scroll {
    width: 70%;
    padding: 5px 0;
}

.announcements-scroll div {
    display: inline-flex;
    margin: 0px 20px;
}


.login-btn button {
    padding: 8px 15px;
    border-radius: 25px;
    margin: 5px;
    background-color: transparent;
    font-weight: 700;
    border: 2px solid;
    transition: all 0.3s ease;
}

.login-btn button:nth-of-type(1) {
    border-color: #0A5EB0;
    color: white;
}

.login-btn button:nth-of-type(1):hover {
    cursor: pointer;
    border-color: greenyellow;
    color: greenyellow;
    background-color: rgba(255, 255, 255, 0.1);
}

.login-btn button:nth-of-type(2) {
    border-color: greenyellow;
    color: greenyellow;
}

.login-btn button:nth-of-type(2):hover {
    cursor: pointer;
    border-color: #0A5EB0;
    color: #0A5EB0;
    background-color: rgba(255, 255, 255, 0.1);
}


@media only screen and (max-width: 1024px),
(max-device-width:1024px) {
    .announcements-scroll {
        width: 60%;
        font-size: 0.9rem;
    }
    .announcements-heading{
        font-size: 1rem;
    }
    .login-btn button{
        font-size: 0.6rem;
    }
    .login-btn {
        width: 20%;
    }
}

@media only screen and (max-width: 480px),
(max-device-width:480px) {
    .announcements {
        flex-direction: column;
    }
    .announcements-scroll {
        width: 90%;
        margin: 10px 0px;
        font-size: 0.8rem;
    }
    
    .login-btn {
        width: 90%;
    }
}