.announcements {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #3FA2F6;
    color: white;
    padding: 10px 0px;
}

.announcements svg {
    transform: translateY(4px);
}

.announcements-heading {
    font-size: large;
    font-weight: 700;
    margin: 0px 5px;
    color: #F9D689;
}

.login-btn {
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.announcements-scroll {
    width: 70%;
    padding: 5px 0;
}

.announcements-scroll div {
    display: inline-flex;
    margin: 0px 20px;
}

.login-btn button {
    padding: 5px 7px;
    border-radius: 10px;
    background-color: transparent;
    font-weight: 700;
}

.login-btn button:nth-of-type(1) {
    background-color: 4px solid #0A5EB0;
    color: white;
    transition: all ease-in 0.5s;
}

.login-btn button:nth-of-type(1):hover {
    cursor: pointer;
    border: 4px solid greenyellow;
    color: greenyellow;
}

.login-btn button:nth-of-type(2) {
    border: 4px solid greenyellow;
    color: greenyellow;
    transition: all ease-in 0.5s;
}

.login-btn button:nth-of-type(2):hover {
    cursor: pointer;
    border: 4px solid #0A5EB0;
    color: #0A5EB0;
}