.youtube-block {
    width: 96%;
    margin: 20px 2%;

}

.youtube-block>h2 {
    padding-left: 10px;
    border-left: 5px solid #0A5EB0;
    margin-bottom: 15px;
}

.youtube-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: #ecf1f5;
}

.youtube-container>div {
    width: 40%;
    padding: 20px;
}

.youtube-content h3 {
    font-size: x-large;
}

.youtube-content p {
    max-height: 200px;
    overflow: auto;
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
    text-align: justify;
    margin-bottom: 15px;
}

.youtube-content {
    margin: 20px 0;
    background-color: rgba(210, 210, 210, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(179, 179, 179, 0.7);
}
