.forgot-password-main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.forgot-password-main form,
.forgot-password-main > div {
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    border-radius: 12px;
    background: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.forgot-password-main form:hover,
.forgot-password-main > div:hover {
    transform: scale(1.02);
}

.forgot-password-main form > div {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.forgot-password-main .MuiTextField-root {
    width: 100%;
}

.forgot-password-main button {
    width: 100%;
    max-width: 220px;
    background: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.forgot-password-main button:hover {
    background: #0056b3;
}
.forgot-password-mail-send{
    font-size: 1rem;
    color: #0056b3;
    text-align: center;
}
.forgot-password-mail-send svg{
    transform: translateY(4px);
}

@media only screen and (max-width: 768px) {
    .forgot-password-main {
        padding: 15px;
    }

    .forgot-password-main form,
    .forgot-password-main > div {
        width: 90%;
        padding: 20px;
    }
}

@media only screen and (max-width: 480px) {
    .forgot-password-main form,
    .forgot-password-main > div {
        width: 92%;
        padding: 15px 4%;
    }

    .forgot-password-main button {
        font-size: 14px;
        padding: 8px;
    }
    .forgot-password-mail-send{
        font-size: 0.8rem;
    }
    
}