.forgot-password-main {
    display: flex;
    flex-direction: row;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
}

.forgot-password-main form,
.forgot-password-main>div {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    background-color: aliceblue;
}

.forgot-password-main form>div {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}

.forgot-password-main .css-1xp5r68-MuiFormControl-root-MuiTextField-root {
    width: 70%;
}
.forgot-password-main button{
    width: 25%;
}