.past-members-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.past-members-main>section:not(:nth-of-type(1)){
    width: 96%;
    margin-bottom: 20px;
}
.aboutus-past-team {
    width: 96%;
    margin: 30px 2%;
}

.aboutus-past-team>div {
    background-color: #ecf1f5;
    display: flex;
}

.aboutus-past-team h2 {
    width: 30%;
    padding-left: 10px;
    border-left: 5px solid #0A5EB0;
}

.past-administation-go-back-btn {
    width: 70%;
    justify-content: flex-end !important;
}

.past-administation-go-back-btn>button {
    width: 20% !important;
    justify-self: flex-end;
}

/* btns  */
.past-member-btns{
    display: flex;
    justify-content: center;
}
.past-member-btns button{
    font-weight: 700;
    padding: 10px 15px;
    margin: 0px 10px;
    min-width: 20%;
    transition: all ease-in 0.5s;
}
.past-member-btns button:hover{
    cursor: pointer;
    background-color: #0A5EB0;
    color: white;
    border: none;
}