.club-details-main>section:not(:nth-of-type(1), :nth-of-type(2)) {
    width: 96%;
    margin: 2%;
}

/* about section */
.club-details-about-heading {
    display: flex;
    align-items: center;
    padding: 10px;
    border-left: 5px solid #0A5EB0;
}

.club-details-about-heading img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px solid #0A5EB0;
}

.club-details-about-content {
    width: 90%;
    padding: 10px 5%;
    display: flex;
    justify-content: center;
    font-size: larger;
    background-color: #E6F0FA;
    margin: 20px 0px;
    border-radius: 10px;
}

/* skills section */
.clubs-details-skills-section h2 {
    padding: 10px;
    border-left: 5px solid #0A5EB0;
}

.clubs-details-skills-content {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    padding: 20px 5%;
    justify-content: space-evenly;
    background-color: #E6F0FA;
    border-radius: 10px;
}

.clubs-details-skills-content>div {
    background-color: #0A5EB0;
    width: 30%;
    color: white;
    font-size: large;
    text-align: center;
    padding: 10px;
    font-weight: 700;
    border-radius: 5px;
    margin: 10px 0;
}

/* club timings section */
.club-details-timings h2 {
    padding: 10px;
    border-left: 5px solid #0A5EB0;
}

.club-details-timings h3 {
    font-size: larger;
    font-weight: 700;
    color: #0A5EB0;
}

.club-details-timings svg {
    font-size: 25px;
    transform: translateY(4px);
    color: #0A5EB0;
}

.club-details-timings>div {
    width: 100%;
    display: flex;
    background-color: #E6F0FA;
    justify-content: space-evenly;
    border-radius: 10px;
}

.club-details-timings>div li {
    font-size: large;
    color: #333;
}

.club-details-timings>div>div {
    width: 40%;
    padding: 20px;
}

/* club buttons section */
.club-details-btns-section {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 7vh;
    align-items: center;
    position: absolute;
    background-color: rgba(10, 94, 176, 0.1);
    margin: 0px;
    gap: 30px;
}

.club-details-btns-section button {
    background-color: transparent;
    border: none;
    font-weight: 700;
    font-size: large;
    color: #0A5EB0;
    transition: all ease-in-out 0.3s;
}

.club-details-btns-section>button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/* clubs events */
.club-events-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* club details dev  */

.club-details-page-details {
    display: flex;
    width: 96%;
    padding: 15px 2%;
    justify-content: space-evenly;

}

.club-details-page-details h3 {
    color: #0A5EB0;
}

.club-details-page-details>div {
    width: 35%;
    background-color: rgba(224, 223, 223, 0.388);
    padding: 10px 2%;
    border-left: 5px solid #0A5EB0;
}


.club-details-page-details>div:nth-of-type(2) {
    width: 40%;
}



.club-details-main-content h2 {
    padding-left: 10px;
    border-left: 5px solid #0A5EB0;
    margin-bottom: 15px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.8rem;
}

.club-details-main-content h3,
.club-details-main-content h4 {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.3rem;
}


.club-details-main-content p {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1rem;
    text-align: justify;
}
.club-details-timings li{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1rem;
}

.club-details-about-heading h2{
    border-left: 0px !important;
}



@media only screen and (max-width: 1000px),
(max-device-width:1000px) {
    .club-details-main-content h2 {
        font-size: 1.5rem;
    }

    .club-details-main-content h3,
    .club-details-main-content h4 {
        font-size: 1.2rem;
    }
    .club-details-main-content p,
    .club-details-timings li {
        font-size: 0.9rem;
    }

    .club-details-about-heading img{
        width: 60px;
        height: 60px;
    }

}


@media only screen and (max-width: 600px),
(max-device-width:600px) {
    .club-details-main h2 {
        font-size: 1.2rem;
    }

    .club-details-main h3 {
        font-size: 1rem;
    }
    .club-details-main p,
    .club-details-timings li {
        font-size: 0.8rem !important;
    }
    .club-details-btns-section button{
        font-size: 0.8rem;
    }
    .club-details-btns-section{
        gap: 10px;
        overflow: auto;
    }
    .club-details-timings>div{
        flex-direction: column;
        gap: 10px;
    }
    .club-details-timings>div>div{
        width: 90% !important;
        padding: 3%;
    }
    .clubs-details-skills-content>div{
        width: 40%;
        font-size: 1rem;
    }
    .club-details-about-heading img{
        width: 40px;
        height: 40px;
    }
}