.fest-event-registration-main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.fest-event-registration-form{
    width: 60%;
    padding: 20px 2%;
    background-color: aliceblue;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
}

.fest-event-registration-form .css-1xp5r68-MuiFormControl-root-MuiTextField-root{
    margin: 10px 0px;
}
.fest-event-registration-form>div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.fest-event-registration-form>div:nth-of-type(2){
    display: flex;
}

.fest-event-registration-form>div:nth-of-type(1) .css-1xp5r68-MuiFormControl-root-MuiTextField-root{
    width: 32%;
}
.fest-event-registration-form>div:nth-of-type(2) .css-1xp5r68-MuiFormControl-root-MuiTextField-root{
    width: 49%;
}

.fest-event-registration-select{
    display: flex;
    width: 49%;
    justify-content: space-between;
}
.fest-event-registration-select>div {
    width: 32% !important;
}


/* user details  */
.fest-event-registration-details{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 60vh;
    width: 80%;
    padding: 0px 10%;
    background-color: aliceblue;
}
.fest-event-registration-details>div{
    display: flex;
    /* width: 40%; */
}
.fest-event-registration-details>div>div:nth-of-type(1){
    width: 30%;
}

.fest-event-recaptcha{
    width: 100%;
    display: flex;
    justify-content: center !important;
    margin: 20px 10px;
}