.library-main h2{
    padding-left: 10px;
    border-left: 5px solid #0A5EB0;
}

.library-main>section {
    transition: all ease-out 0.5s;
    margin-bottom: 50px;
}

.resources-academic-pdfs-section {
    width: 96%;
    margin: 20px 2%;
}

.resources-academic-pdfs {
    background-color: #ecf1f5;
    padding: 10px;
}

.resources-academic-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* academic form  */

.resource-page-academic-form>form {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.resource-page-academic-form div {
    width: 20%;
    padding: 20px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.resource-page-academic-form select {
    width: 90%;
    padding: 5px 0px;
    font-weight: 700;
}

.resource-page-academic-form button {
    min-width: 60%;
    background-color: #1F509A;
    color: white;
    font-weight: 700;
    border: none;
    padding: 7px 10px;
    transition: all ease-out 0.5s;
}

.resource-page-academic-form>form>div>button:hover {
    cursor: pointer;
    opacity: 0.7;
}

/* acedimic -fliter  */
.resources-acedamic-result-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
}

.resources-acedamic-result-filter label {
    font-size: large;
    font-weight: 700;
}

.resources-acedamic-result-filter select {
    padding: 5px 7px;
    font-weight: 700;
}


/* open library resources section  */
.resource-general-section {
    width: 96%;
    margin: 20px 2%;
}


/* academic book loading  */
.academic-loading-div {
    display: flex;
    justify-content: space-evenly;
}

.academic-books-loading {
    width: 17%;
    height: 50vh;
    padding: 15px 10px;
    margin: 20px;
}