.update-password-main form{
    width: 60%;
    margin: 10vh auto;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: aliceblue;
    padding: 20px;
}
.update-password-main form>div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
}
.update-password-main .css-4vvya4-MuiFormControl-root{
    width: 100%;
}