.Upsert-book-form {
    width: 60%;
    background-color: white;
    padding: 20px 5%;
    margin: 20px auto;
}

.Upsert-book-form>section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* section1 */
.Upsert-book-form>section:nth-of-type(1) .css-1xp5r68-MuiFormControl-root-MuiTextField-root,
.Upsert-book-form>section:nth-of-type(1) .css-15nqhxc-MuiFormControl-root {
    width: 22%;
    margin: 10px 0px;
}

.Upsert-book-form .upload-pdf-btn {
    width: 28%;
}

/* section2 */
.Upsert-book-form>section:nth-of-type(2) .css-15nqhxc-MuiFormControl-root {
    width: 24%;
    margin: 10px 0px;
}

/* btn  */
.Upsert-book-submit-btn {
    width: 60%;
    margin: 10px 20%;
    padding: 10px 15px;
    color: white;
    font-weight: 700;
    border: 0px;
    background-color: #0A5EB0;
    cursor: pointer;
    transition: all ease-in 0.5s;
}

.Upsert-book-submit-btn:hover {
    opacity: 0.7;
}

@media only screen and (max-width: 1000px),
(max-device-width:1000px) {
    .Upsert-book-form {
        width: 90%;
    }

    .upload-pdf-btn label {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 600px),
(max-device-width:600px) {
    .Upsert-book-form>section{
        flex-direction: column;
    }
    .Upsert-book-form>section>div{
        width: 100% !important;
    }
}