/* main data  */
.admin-all-clubs-section {
    width: 100%;
    padding-bottom: 20px;
}

.admin-all-clubs-search {
    margin: 20px 0px;
    width: 100%;
}

.admin-all-clubs-search form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.admin-all-clubs-search input {
    outline: none;
    width: 60%;
    padding: 7px 5px;
    color: #4C585B;
    border: 2px solid #D9EAFD;
}

.admin-all-clubs-search button {
    background-color: #0A5EB0;
    border: none;
    color: white;
    width: 10%;
    margin: 0px 2%;
    cursor: pointer;
}

/* functions  */
.admin-all-clubs-edit,
.admin-all-clubs-delete {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    color: grey;
    cursor: pointer;
}

.admin-all-clubs-delete {
    color: red;
}

/* delete club popup  */

.delete-club-confirmation-popup h1 {
    color: red;
    font-size: large;
}

.delete-club-confirmation-popup button:nth-of-type(2) {
    background-color: rgb(213, 213, 213);
    color: black;
    border: 2px solid black;
}

.delete-club-confirmation-popup button:nth-of-type(1) {
    background-color: rgb(213, 213, 213);
    color: red;
    border: 2px solid red;
}

/* btns */
.admin-all-club-download-btns {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 10px 0px;
    gap: 10px;
}

.admin-all-clubs-grid>div:nth-of-type(1) {
    width: 100%;
    overflow: auto;
}

.admin-all-clubs-grid .css-5pibb4-MuiDataGrid-root {
    min-width: 1000px;
}

@media only screen and (max-width: 1000px),
(max-device-width:1000px) {
    .admin-all-clubs-search button {
        width: 20%;
    }
}