a {
    text-decoration: none;
    color: inherit;
}
/* 
body {
    background-image: url("https://res.cloudinary.com/delc5g3p5/image/upload/v1735668030/Clubs/pcm0ypxj1pcpcbuxxldi.png");
    background-position: center;
} */


body {
    margin: 0px;
}


