.singe-annoucement-card {
    background-color: #D9EAFD;
    width: 70%;
    border: 5px solid #bedafb;
    margin: 20px 0px;
    padding: 20px;
}

.singe-annoucement-card h2 {
    margin: 0px;
}

.singe-annoucement-card p {
    font-size: large;
    color: rgb(74, 74, 74);
}

.single-annocement-btns {
    width: 100%;
}

.single-annocement-btns button {
    margin-right: 10px;
    padding: 7px 15px;
    background-color: #0A5EB0;
    color: white;
    font-weight: 700;
    border: none;
    transition: all ease-out 0.5s;
}

.single-annocement-btns>button:hover {
    cursor: pointer;
    opacity: 0.7;
}