.coordinators-carousel {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    background-color: #ecf1f5;
}

.coordinator-container {
    width: 100%;
    display: flex;
    overflow: auto;
    gap: 20px;
    padding: 10px;
}


.coordinator-container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.coordinator-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.coordinator-container::-webkit-scrollbar-thumb {
    background: #3FA2F6;
    border-radius: 10px;
}

.coordinator-card {
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 250px;
    border: 2px solid white;
    border-radius: 8px;
    margin: 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px 10px;
}

.coordinator-card>div {
    width: 100%;
}

.coordinator-card-text {
    clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 83%, 31% 84%, 18% 100%, 18% 83%, 0 83%);
    background-color: #D9EAFD;
    border-radius: 5px;
}

.coordinator-card-text>div {
    height: 200px;
    overflow: hidden;
}

.coordinator-card-text>div>p {
    width: 90%;
    padding: 0 10px;
}

.coordinator-card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.coordinator-card-body>img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    object-fit: cover;
}

.coordinator-card-naming {
    width: 60%;
}

.club-coordinators-heading {
    width: 100%;
}

.club-coordinators-heading h3 {
    padding-left: 20px;
}

.coordinators-head-container {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.coordinators-head {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
}

.coordinators-faculty-img {
    width: 30%;
}

.coordinators-faculty-img>div {
    width: 90%;
    border: 15px solid #bedafb;
}

.coordinators-faculty-img img {
    width: 100%;
    max-height: 40vh;
    background-color: #bedafb;
    object-fit: contain;
    transform: translate(10%, 10%);
    transition: all ease-in 0.3s;
}

.coordinators-head img:hover {
    transform: scale(1.02);

}

.coordinators-head-content {
    padding: 20px 2%;
    width: 50%;
    background-color: #D9EAFD;
    border: 5px solid #bedafb;
}

.coordinators-student-img {
    width: 30%;
}

.coordinators-student-img>div {
    width: 90%;
    border: 15px solid #bedafb;
}

.coordinators-student-img img {
    width: 100%;
    transform: translate(-10%, 10%);
    transition: all ease-in 0.3s;
}

.coordinators-head-container h3 {
    color: #0A5EB0;
    font-size: 1.3rem;
    font-weight: 700;
    margin: 7px 0;
}

.coordinators-head-container h4 {
    color: gray;
    font-weight: 700;
    font-size: 1rem;
    margin: 7px 0;
}

.coordinators-head-container p {
    font-size: 1rem;
}

.coodinators-left-period,
.coodinators-right-period {
    background-color: rgba(225, 225, 225, 0.8);
    transform: translate(10%, -80%);
    width: 100%;
    padding: 10px 0;
    text-align: center;
    color: #0A5EB0;
    font-weight: 700;
    font-size: large;
}

.coodinators-right-period {
    transform: translate(-10%, -80%);
}

.coordinators-head h3,
.coordinators-head h4 {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin: 10px 0;
    font-size: 1.3rem;
}

.coordinators-head h4 {
    font-size: 1rem;
}

.coordinators-head p {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1rem;
    text-align: justify;
}

@media only screen and (max-width: 1000px),
(max-device-width:1000px) {
    .coordinators-head h3 {
        font-size: 1.2rem;
    }

    .coordinators-head p,
    .coordinators-head h4 {
        font-size: 0.9rem !important;
    }

    .coordinators-head-content {
        width: 58%;
    }

    .coordinators-faculty-img img,
    .coordinators-student-img img {
        transform: translate(0px);
    }

}

@media only screen and (max-width: 600px),
(max-device-width:600px) {
    .coordinators-head h3 {
        font-size: 1rem;
    }

    .coordinators-head p,
    .coordinators-head h4 {
        font-size: 0.8rem !important;
    }

    .coordinators-head {
        flex-direction: column;
        gap: 20px;
    }

    .coordinators-head-content {
        width: 94%;
    }

    .coordinators-faculty-img,
    .coordinators-student-img {
        width: 94%;
    }

    .coordinator-student-head {
        flex-direction: column-reverse;
    }

    .coordinators-faculty-img img,
    .coordinators-student-img img {
        width: 90%;
        margin: 0px 5%;
        transform: translateY(25px);
    }

}